<div id="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Sedes</ion-title>
    </ion-toolbar>
  </ion-header>
</div>

<ion-content [fullscreen]="true">
  <ion-grid *ngIf="listaSede.length > 0" class="custom-cards">
    <ion-row>
      <ion-col size="12" size-md="6" *ngFor="let sede of listaSede">
        <ion-card class="sede-card">
          <ion-card-header class="card-header">
            <img [src]="sede.imagen" alt="{{ sede.nombre }}" class="card-image">
          </ion-card-header>
  
          <ion-card-content class="card-content">
            <h2 class="card-title">{{ sede.nombre }}</h2>
            <p><strong>Dirección:</strong> {{ sede.direccion }}</p>
            <p><strong>Teléfono:</strong> {{ sede.telefono }}</p>
            <p><strong>Horario:</strong> {{ sede.horarioAtencion }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
