.titulo-alineado {
    display: inline-flex;
    align-items: center; 
    color: white;
  }
  
  .imagusu {
    font-size: 40px;
    margin-right: 8px; 
    vertical-align: middle;
  }

  ion-footer{

    color: rgb(0, 0, 0);
    background-color: #0000FF;
    padding: 0%;
    margin: 0%;
  }


.btn_cerr{
  margin: 5%;
  color: white;
}


:root {
  --ion-color-primary: #0000FF; /* Azul */
  --ion-color-primary-contrast: #FFFFFF; /* Blanco para el texto */
}