<!--//*******************************************************************************/
  //*                                   SecGar                                    */
  //*******************************************************************************/
  //* Proyecto: Cambio password WEB movil                                         */
  //* Desarrollador: Bastian Lisboa (BAS)                                         */
  //* Fecha: 03-09-2024                                                           */
  //*******************************************************************************/
  //* MODIFICACIONES                                                              */
  //*******************************************************************************/
  //* Desarrollador: Bastian Lisboa                                               */
  //* Fecha: 03-09-2024                                                           */
  //* Descripcion: Creacion de WEB                                                */
  //*-----------------------------------------------------------------------------*/
  //*******************************************************************************/-->
<ion-header>
</ion-header>
<link rel="stylesheet" href="/assets/css/cam_psw.styles.css">
<!--<ion-item  class="item-background-color" *ngIf="Alerta_error_psw1" ><strong>Contraseña nueva no tiene al menos una mayuscula</strong></ion-item> -->
<!--<ion-item  class="item-background-color" *ngIf="Alerta_error_psw2" ><strong>Contraseñas nuevas no coinciden</strong></ion-item> -->
<!--<ion-item  class="item-background-color" *ngIf="Alerta_error_psw3" ><strong>Contraseña nueva no tiene un minimo de 3 caracteres</strong></ion-item> -->
<ion-item  class="item-background-color" *ngIf="Alerta_error_usu"  ><strong>Correo obligatorio</strong></ion-item>
<ion-item  class="item-background-color" *ngIf="Alerta_error_null" ><strong>Tienes que modificar al menos un campo</strong></ion-item>
<ion-item  class="item-background-color-ok" *ngIf="Alerta_cambio_ok" ><strong>Contraseña cambiada exitosamente</strong></ion-item>
<ion-content class="more_login">
  <ion-card class="card_login">
    <ion-card-header>
      <ion-icon class="imag" (click)="goLogin()" name="arrow-back-circle-outline"></ion-icon>
        <ion-row>
            <ion-col>
                <h1 style="text-align: center;"><strong>Cambio de datos</strong></h1>
            </ion-col>
        </ion-row>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="formularioCamPsw">
        <ion-item>
          <ion-icon name="person-outline" style="margin-right: 0.5vh;"></ion-icon>
          <ion-input [(ngModel)]="cli_usr" formControlName="usuario" required placeholder="Correo"></ion-input>
        </ion-item>
        <br />
        <ion-item>
          <ion-icon name="lock-closed-outline" style="margin-right: 0.5vh;"></ion-icon>
          <ion-input [(ngModel)]="cli_psw1" formControlName="password1" type="password" required placeholder="Contraseña nueva"></ion-input>
        </ion-item>
        <br />
        <!--BAS01-INI-->
        <ion-item>
          <ion-icon name="person-outline" style="margin-right: 0.5vh;"></ion-icon>
          <ion-input [(ngModel)]="cli_carr" formControlName="carrera" required placeholder="Carrera"></ion-input>
        </ion-item>
        
        <!--//logica antigua
        <ion-item>
            <ion-icon name="lock-closed-outline" style="margin-right: 0.5vh;"></ion-icon>
            <ion-input [(ngModel)]="cli_psw2" formControlName="password2" type="password" required placeholder="Contraseña nueva"></ion-input>
        </ion-item>
        <br /> 
        <ion-item>
          <ion-icon name="lock-closed-outline" style="margin-right: 0.5vh;"></ion-icon>
          <ion-input [(ngModel)]="cli_psw3" formControlName="password3" type="password" required placeholder="Repite contraseña"></ion-input>
        </ion-item> -->
        <!--BAS01-FIN-->
      </form>
      <br>
      <ion-button class="boton_ingresar" (click)="Cambiar()" fill="clear">
      <ion-spinner *ngIf="isLoading" ></ion-spinner>Cambiar</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>&copy; <span id="year"></span>Todos los derechos reservados.</ion-title>
  </ion-toolbar>
</ion-footer>
<script>
  document.getElementById('year').textContent = new Date().getFullYear();
</script>