<!--//***************************************************************************/
//*                                   SecGar                                    */
//*******************************************************************************/
//* Proyecto: Menu WEB movil                                                    */
//* Desarrollador: Bastian Lisboa                                               */
//* Fecha: 30-08-2024                                                           */
//*******************************************************************************/
//* MODIFICACIONES                                                              */
//*******************************************************************************/
//* Desarrollador: Bastian Lisboa                                               */
//* Fecha: 30-08-2024                                                           */
//* Descripcion: Creacion de WEB                                                */
//*-----------------------------------------------------------------------------*/
//* Desarrollador: Bastian Lisboa                                               */
//* Fecha: 10-09-2024                                                           */
//* Descripcion: Modificacion a diseño y estructura Web (BAS01)                 */
//*-----------------------------------------------------------------------------*/
//*******************************************************************************/-->
<body>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title style="text-align: center;">Bienvenido {{ usuarioNombre }}</ion-title>
      </ion-toolbar>
    </ion-header>
  </div> 
  <!--card-->
  <div>
    <div class="card-container">
      <div class="card">
        <img class="card-img-top" src="/assets/img/i6.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Pide tu garaje!</h5>
          <p class="card-text">Buscaremos los garajes cercanos a la ubicacion solicitada</p>
          <a href="#" class="btn btn-primary botonn">Buscar</a>
        </div>
      </div>
    </div>
  </div>
  <div>

  </div>
</body>



