
--ion-menu::part(backdrop) {
  --background-color: rgba(255, 255, 255, 0.5);
}

--ion-menu::part(container) {
  --border-radius: 0 20px 20px 0;

  --box-shadow: 4px 0px 16px rgba(255, 0, 255, 0.18);
}

.titulo-alineado {
  display: inline-flex;
  align-items: center; 
}

.imagusu {
  font-size: 40px;
  margin-right: 8px; 
  vertical-align: middle;
}


.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.card {
  width: 28rem;
  background-color: black;
  color: white;
}

body{
  background-color: black;
}

.botonn{
  background-color: white;
  color: black;
}

li{ 
  padding: 2%;
  margin: 1%;
}

ion-footer{

  color: rgb(0, 0, 0);
  background-color: white;
  padding: 0%;
  margin: 0%;
}