.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh; 
  margin: 5%;
}

.card {
  width: 28rem;
  background-color: rgb(255, 255, 255);
  color: white;
}

body{
  background-color: rgb(255, 255, 255);
}

.board{
  background: blue !important;
  color: white
}

.boton_asistencia{
  background-color: rgb(51, 51, 247);
}

:root {
  --ion-color-primary: #0000FF; /* Azul */
  --ion-color-primary-contrast: #FFFFFF; /* Blanco para el texto */
}