<!--//*******************************************************************************/
//*                                   SecGar                                    */
//*******************************************************************************/
//* Proyecto: Menu WEB movil                                                    */
//* Desarrollador: Bastian Lisboa & Daniel Galvex                               */
//* Fecha: 30-08-2024                                                           */
//*******************************************************************************/
//* MODIFICACIONES                                                              */
//*******************************************************************************/
//* Desarrollador: Bastian Lisboa & Daniel Galvex                               */
//* Fecha: 30-08-2024                                                           */
//* Descripcion: Creacion de WEB                                                */
//*-----------------------------------------------------------------------------*/
//* Desarrollador: Bastian Lisboa                                               */
//* Fecha: 10-09-2024                                                           */
//* Descripcion: Modificacion a diseño y estructura Web (BAS01)                 */
//*-----------------------------------------------------------------------------*/
//*******************************************************************************/-->
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/folder" style="color: rgb(0, 0, 0);">SecGar</a>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  <!--card-->
  <div class="card-container">
    <div class="card">
      <img class="card-img-top" src="/assets/img/i6.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Pide tu garaje!</h5>
        <p class="card-text">Buscaremos los garajes cercanos a la ubicacion solicitada</p>
        <a href="#" class="btn btn-primary botonn ">Buscar</a>
      </div>
    </div>
  </div>
  
</body>



