<!--//*******************************************************************************/
//*                                   SecGar                                    */
//*******************************************************************************/
//* Proyecto: Menu WEB movil                                                    */
//* Desarrollador: Bastian Lisboa & Daniel Galvex                               */
//* Fecha: 30-08-2024                                                           */
//*******************************************************************************/
//* MODIFICACIONES                                                              */
//*******************************************************************************/
//* Desarrollador: Bastian Lisboa & Daniel Galvex                               */
//* Fecha: 30-08-2024                                                           */
//* Descripcion: Creacion de WEB                                                */
//*-----------------------------------------------------------------------------*/
//* Desarrollador: Bastian Lisboa                                               */
//* Fecha: 10-09-2024                                                           */
//* Descripcion: Modificacion a estilo Web (BAS01)                              */
//*-----------------------------------------------------------------------------*/
//*******************************************************************************/-->
<ion-app>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-title>{{ usuarioNombre }}</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-button (click)="goLogin()" >Cerrar sesion</ion-button>
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>SecGar</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding"> 
      <!--card-->
      <ion-card>
        <img src="/assets/img/i6.jpg"/>
        <ion-card-header>
          <ion-card-title>Inicia tu viaje </ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Inicia tu viaje aqui, comencemos ya.
        </ion-card-content>
      </ion-card>
    </ion-content>
  </div>
</ion-app>