<!--//*******************************************************************************/
    //*                                   duoc                                      */
    //*******************************************************************************/
    //* Proyecto: Login WEB movil                                                   */
    //* Desarrollador: Bastian Lisboa (BAS)                                         */
    //* Fecha: 30-08-2024                                                           */
    //*******************************************************************************/
    //* MODIFICACIONES                                                              */
    //*******************************************************************************/
    //* Desarrollador: Bastian Lisboa                                               */
    //* Fecha: 30-08-2024                                                           */
    //* Descripcion: Creacion de WEB                                                */
    //*-----------------------------------------------------------------------------*/
    //*******************************************************************************/-->
<ion-header>

</ion-header>
<ion-item  class="item-background-color" *ngIf="Alerta_error" >Credenciales invalidas</ion-item>
<ion-item  class="item-background-color" *ngIf="Alerta_bks" >Todos los campos son obligatorios</ion-item>
<ion-item  class="item-background-color" *ngIf="Alerta_api_error" >logueado correctamente: {{ res_api_sts }}</ion-item>
<ion-item  class="item-background-color-success" *ngIf="Alerta_success" >{{ res_api_msg }} - {{ res_api_sts }}</ion-item>
<ion-content>
    <link rel="stylesheet" href="/assets/css/login.styles.css">
    <ion-card class="card_login">
        <ion-card-header>
            <ion-row>
                <ion-col>
                    <h1 style="text-align: center;"><strong>Iniciar Sesión</strong></h1>
                </ion-col>
            </ion-row>
        </ion-card-header>
        <ion-card-content>
            <form [formGroup]="formularioLogin">
                <ion-item>
                    <ion-icon name="person-outline" style="margin-right: 0.5vh;"></ion-icon>
                    <ion-input [(ngModel)]="cli_usr" formControlName="nombre" required placeholder="Usuario"></ion-input>
                </ion-item>
                <br />
                <ion-item>
                    <ion-icon name="lock-closed-outline" style="margin-right: 0.5vh;"></ion-icon>
                    <ion-input [(ngModel)]="cli_psw" formControlName="password" type="password" required placeholder="Contraseña"></ion-input>
                </ion-item>
            </form>
            <br>
            <ion-button fill="clear" (click)="cambio_psw()" class="cambio_psw">Cambiar datos</ion-button>
            <ion-button fill="clear" (click)="registrar_usu()" class="cambio_psw">Registrar usuario</ion-button>

            <ion-button class="boton_ingresar" (click)="ingresar()" fill="clear">
                <ion-spinner name="circular" *ngIf="visibleSpinner" class="ion-margin-end"></ion-spinner>
                Ingresar
            </ion-button>
        </ion-card-content>
    </ion-card>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-title>&copy; <span id="year"></span> Todos los derechos reservados.</ion-title>
    </ion-toolbar>
</ion-footer>

<script>
    document.getElementById('year').textContent = new Date().getFullYear();
</script>
