.more_reg{
    background-color: black;
}

.card_reg{
    background-color: rgba(0, 0, 0, 0.315);
    height: 70vh;
    width: 80%;
    margin: 10%;
    margin-top: 30%;
    border-radius: 5%;
}

h1{
    color: white;
}

.boton_registrar{
    color: rgb(0, 0, 0);
    background-color: white;
    border-radius: 3%;
    width: 100%;
    margin-top: 5%;
    font-size: 13px;
}


.item_warning {
    background-color: red;
    color: white;
}