.titulo-alineado {
    display: inline-flex;
    align-items: center; 
  }
  
  .imagusu {
    font-size: 40px;
    margin-right: 8px; 
    vertical-align: middle;
  }

  ion-footer{

    color: rgb(0, 0, 0);
    background-color: white;
    padding: 0%;
    margin: 0%;
  }


.btn_cerr{
  margin: 5%;
}