//*******************************************************************************/
//*                                   SecGar                                    */
//*******************************************************************************/
//* Proyecto: Cambio psw movil ESTILOS                                          */
//* Desarrollador: Bastian Lisboa (BAS)                                         */
//* Fecha: 03-09-2024                                                           */
//*******************************************************************************/
//* MODIFICACIONES                                                              */
//*******************************************************************************/
//* Desarrollador: Bastian Lisboa                                               */
//* Fecha: 03-09-2024                                                           */
//* Descripcion: Creacion de Cambio password ESTILOS                            */
//*-----------------------------------------------------------------------------*/
//*******************************************************************************/
.item-background-color{
    --ion-item-background:#ff0000d5;
}

.item-background-color-ok{
    --ion-item-background:#75ee03d5;
    margin: 2%;
}


ion-content {
    --background: linear-gradient(to right, #0f0f0f, #2c2b2b); /* De gris claro a gris oscuro */
  }


ion-toolbar {
    --background: rgba(0, 0, 0, 0.589);
}

.imag{
   width: 20px;
   height: 20px;
}